@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
			var pkpt = $.connection.pkptHub;
            // Create a function that the hub can call back to display messages.
			pkpt.client.jsGetBill = function (duLieu) {
				var test = 1;
                // Add the message to the page. 
				$('#discussion').append('<li><strong>' + htmlEncode(duLieu.Code) 
					+ '</strong>: ' + htmlEncode(duLieu.PaidAmount) + '</li>');
            };
            // Get the user name and store it to prepend to messages.
            //$('#displayname').val(prompt('Enter your name:', ''));
            // Set initial focus to message input box.  
            //$('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                //$('#sendmessage').click(function () {
                //    // Call the Send method on the hub. 
                //    chat.server.send($('#displayname').val(), $('#message').val());
                //    // Clear text box and reset focus for next comment. 
                //    $('#message').val('').focus();
                //});
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>

</head>
<body>
	<ul id="discussion">
		<li></li>
	</ul>
test
</body>
</html>