@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<script type="text/javascript">
    $().ready(function () {
        $("#buttonguest").click(function () {
            $.ajax({
                type: "GET",
                url: "/umbraco/surface/CartsSurface/DatHangMain",
                contentType: "application/json",
                dataType: "json",
                data: {
                    "name": $('#contactFormName').val(),
                    "phone": $('#contactFormTelephone').val(),
                    "email": $('#contactFormEmail').val(),
                    "address": $('#contactFormAdress').val(),
                    "note": $('#contactFormMessage').val()
                },
                success: function (data) {
                    if (data==="Ok") {
                        location.href = "/hoantat";
                    }
                    var res = JSON.parse(data);
                    if (res.name) {
                        $('#vdName').text(res.name);
                    } else {
                        $('#vdName').text('');
                    }
                    if (res.phone) {
                        $('#vdPhone').text(res.phone);
                    } else {
                        $('#vdPhone').text('');
                    }
                    if (res.phoneNumber) {
                        $('#vdPhoneNumber').text(res.phoneNumber);
                    } else {
                        $('#vdPhoneNumber').text('');
                    }
                    if (res.address) {
                        $('#vdAddress').text(res.address);
                    } else {
                        $('#vdAddress').text('');
                    }
                },
                error: function (data) { alert("error"); }
            });
         });
    });
</script>
<div class="main-wrap">
    <section class="row_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="new-cart">
                        <div class="stepcart" style="margin:40px 0px; overflow:hidden; clear:both">
                            <div class="row">
                                @{
									var rootCartBO = new CartBLL().checkCuponDiscount();//new CartBLL().GetCartItems(HttpContext.Current.Session["dsIdHangHoa"] as List<string>);
									var items = rootCartBO.carts;
									var itemsInBasket = rootCartBO.totalQuantity;
									if (itemsInBasket == 0 || rootCartBO.totalPrice < 100000)
									{
										Response.Redirect("/");
									}
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                        <div class="cart-right">
                                            <div class="tit">Giỏ hàng</div>
                                            <div class="ctn-info">
                                                @foreach (var item in items)
                                                {
                                                    var urlitem = "/danh-muc/san-pham.aspx?pt=" + item.id;
                                                    <p>@item.name</p>
                                                    <ul>
                                                        <li>
                                                            <span>Số lượng</span> <strong>
                                                                @item.quantity
                                                            </strong>
                                                        </li>
                                                        <li>
                                                            <span>Thành tiền </span><strong class="total">@string.Format("{0:#,##0 đ}", item.totalAfterDiscount)</strong>
                                                        </li>
                                                    </ul>
                                                }
                                                <ul>
                                                    <li>
                                                        <span class="title-total">Tổng tiền</span><strong class="big-total">@string.Format("{0:#,##0 đ}", rootCartBO.totalAfterPriceDisCount)</strong>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                                        @{
                                            <div class="reg-form cart-left login_content">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 naybuoi">
                                                    <p class="tit">Thông tin giao hàng</p>
                                                    <div class="row-form clearfix">
                                                        <label for="" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">Họ và tên <span style="color: red;">(*)</span></label>
                                                        <div class="form-right col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <input name="contactFormName" id="contactFormName" type="text" value="">
                                                            <span style="color: red;" id="vdName"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row-form clearfix">
                                                        <label for="" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">Số điện thoại <span style="color: red;">(*)</span></label> 
                                                        <div class="form-right col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <input name="contactFormTelephone" id="contactFormTelephone" type="text" value="">
                                                            <span style="color: red;" id="vdPhone"></span>
                                                            <span style="color: red;" id="vdPhoneNumber"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row-form clearfix">
                                                        <label for="" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">Email</label>
                                                        <div class="form-right col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <input name="contactFormEmail" id="contactFormEmail" type="text" value="">
                                                        </div>
                                                    </div>
                                                    <div class="row-form clearfix">
                                                        <label for="" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">Địa chỉ <span style="color: red;">(*)</span></label>
                                                        <div class="form-right col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <input name="contactFormAdress" id="contactFormAdress" type="text" value="">
                                                            <span style="color: red;" id="vdAddress" ></span>
                                                        </div>
                                                    </div>
                                                    <div class="row-form clearfix">
                                                        <label for="" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">Ghi chú thêm</label>
                                                        <div class="form-right col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                            <textarea rows="4" cols="40" name="contactFormMessage" id="contactFormMessage"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="row-form clearfix loadingg">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <a style="background: #ff0000;" href="javascript:;" class="backcart" id="buttonguest">Giao hàng</a>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <a href="/gio-hang" class="backcart">Trở lại</a>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="chose-add">
                                                        <div class="row-form clearfix">
                                                            <div class="select-wrap">
                                                                <img src="/Images/giao_hang_tan_noi.png" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>  
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>