@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "MasterPage.cshtml";
}
<div class="main-wrap">
    <section class="row_section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 45px;">
                    <div class="panel-middle panel-shadow">
                        <blockquote>
                            <H2>ĐẶT HÀNG THÀNH CÔNG ! </H2>
                            <H3><i class="fa fa-check"></i> Thông tin đơn hàng đã được gửi tới địa chỉ mail của quý khách.</H3>
                            <H3><i class="fa fa-check"></i> Bộ phận chăm sóc khách hàng sẽ liên hệ để xác nhận lại thông tin 1 lần nữa.</H3>
                            <H3>Cảm ơn Quý Khách Hàng đã tin dùng sản phẩm của PHUKIENPHANTHIET.</H3>
                        </blockquote>
                        <div class="article-box single-post">
                            Hệ thống đang chuyển sang trang chủ vui lòng đợi trong <span style="font-size:30px;color:Red;" id="time">20</span> giây
                            <script type="text/javascript">
                                var jgt = 20;
                                document.getElementById('time').innerHTML = jgt;
                                function stime() {
                                    document.getElementById('time').innerHTML = jgt; jgt = jgt - 1;
                                    if (jgt == 0) { clearInterval(timing); location = '/'; }
                                }
                                var timing = setInterval("stime();", 2000);
                            </script>
                            <blockquote><p><i>PHUKIENPHANTHIET</i></p></blockquote>
                        </div>
                        <div class="breaking-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>	