@{
	Layout = "MasterPage.cshtml";
}

<link href="~/css/cashier.css" rel="stylesheet" />
@*<script src="Scripts/jquery-1.10.2.min.js"></script>*@
@*<script src="Scripts/jquery.signalR-2.1.0.min.js"></script>
<script src="signalr/hubs"></script>*@
<script src="~/js/colResizable-1.6.min.js"></script>
<table class="m-layout-table jsLayoutTable">
	<tr>
		<td></td>
		<td>
			@*@Html.Action("SaveWebhookData", "CartsSurface")*@
			@*@{Html.RenderPartial("PartialBill");}*@
			<div class="m-cashier">
				<div class="m-cashier-toolbar">
					<section>
						<div>
							<select id="selectBranch">
								@foreach (var item in MemoryCacheKiot.dsChiNhanh.data)
								{
									<option value="@item.id">@item.branchName</option>
								}
							</select>
							<button id="checkBill">Kiểm tra</button>
							<img id="loadingImg" src="~/Images/ajax-loader.gif" height="42" width="42" />
							@Html.Action("MemberLogin", "MemberLoginSurface")
						</div>
					</section>
				</div>
				@*@if (User.Identity.IsAuthenticated)
					{*@
				<table class="m-cashier-table jsCashierTable" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<th class="JsCreatedDate">Ngày Tạo</th>
						<th class="jsCustomerName">HĐ/ĐH</th>
						<th class="jsSoldByGivenName">Người bán</th>
						<th class="jsPaidAmount">Tiền Phải Thu</th>
						<th class="td-center">Trạng Thái</th>
					</tr>
				</table>
				<script>
					$('#loadingImg').hide();
					$('.jsLayoutTable').colResizable({
						liveDrag: true,
						gripInnerHtml: '<div class="grip"></div>',
						draggingClass: 'dragging',
						resizeMode: 'fit'
					});
					$('.jsFilterTable').change(function () {
						var className = $(this).data('class');
						if ($(this).is(':checked')) {
							$(className).show();
						} else {
							$(className).hide();
						}
					});
					$('.jsCashierTable').on('change', '.jsCashierRow', function () {
						var rowId = $(this).attr('id');
						var $this = $(this)
						$.ajax({
							type: "GET",
							url: "/umbraco/surface/CartsSurface/CheckPaid",
							contentType: "application/json",
							dataType: "json",
							data: { "maHoaDon": rowId },
							beforeSend: function () { $('#loadingImg').show(); },
							complete: function () { $('#loadingImg').hide(); },
							success: function (data) {
								if (data) {
									$this.parents('tr').addClass('tr-active');
								} else {
									$this.parents('tr').removeClass('tr-active');
								}
							},
							error: function (data) {
								alert("error");
							}
						})
					});

					$('#checkBill').click(function () {
						$.ajax({
							type: "GET",
							url: "/umbraco/surface/CartsSurface/CheckBill",
							contentType: "application/json",
							dataType: "json",
							data: { "maChiNhanh": $("#selectBranch").val() },
							beforeSend: function () { $('#loadingImg').show(); },
							complete: function () { $('#loadingImg').hide(); },
							success: function (data) {
								$('.tr').remove();
								$.each(data, function (key, val) {
									var isPaid = '',
										checked = '';
									if (val.IsPaid === true) {
										isPaid = 'tr-active';
										checked = 'checked';
									}

									var tr = $('<tr class="tr ' + isPaid + '">'
										+ '<td class="JsCreatedDate">' + val.strCreateDate + '</td>'
										+ '<td class="jsCustomerName">' + val.CustomerName + '</td>'
										+ '<td class="jsSoldByGivenName">' + val.SoldByGivenName + '</td>'
										+ '<td class="jsPaidAmount">' + val.PaidAmount.toLocaleString() + ' đ</td>'
										+ '<td class="td-center">'
										+ '<p class="m-checkbox">'
										+ '<input  name="' + val.Code + '" id="' + val.Code + '" type="checkbox" class="jsCashierRow" ' + checked + '/>'
										+ '<label for="' + val.Code + '"></label>'
										+ '</p>'
										+ '</td>'
										+ '</tr>');

									$('.jsCashierTable').append(tr);
								});
							},
							error: function (data) {
								alert("error");
							}
						})
					});
									//setInterval(function () {
									//	var currentdate = new Date();
									//	if (8 <= currentdate.getHours() && currentdate.getHours() <= 24) {
									//		$.ajax({
									//			type: "GET",
									//			url: "/umbraco/surface/CartsSurface/CheckBill",
									//			contentType: "application/json",
									//			dataType: "json",
									//			data: { "maChiNhanh": $("#selectBranch").val() },
									//			beforeSend: function () { $('#loadingImg').show(); },
									//			complete: function () { $('#loadingImg').hide(); },
									//			success: function (data) {
									//				$('.tr').remove();
									//				$.each(data, function (key, val) {
									//					var isPaid = '',
									//						checked = '';
									//					if (val.IsPaid === true) {
									//						isPaid = 'tr-active';
									//						checked = 'checked';
									//					}

									//					var tr = $('<tr class="tr ' + isPaid + '">'
									//						+ '<td class="JsCreatedDate">' + val.strCreateDate + '</td>'
									//						+ '<td class="jsCustomerName">' + val.CustomerName + '</td>'
									//						+ '<td class="jsSoldByGivenName">' + val.SoldByGivenName + '</td>'
									//						+ '<td class="jsPaidAmount">' + val.PaidAmount.toLocaleString() + ' đ</td>'
									//						+ '<td class="td-center">'
									//						+ '<p class="m-checkbox">'
									//						+ '<input  name="' + val.Code + '" id="' + val.Code + '" type="checkbox" class="jsCashierRow" ' + checked + '/>'
									//						+ '<label for="' + val.Code + '"></label>'
									//						+ '</p>'
									//						+ '</td>'
									//						+ '</tr>');

									//					$('.jsCashierTable').append(tr);
									//				});
									//			},
									//			error: function (data) {
									//				alert("error");
									//			}
									//		});
									//	}
									//}, 60000)
				</script>
				@*}*@
			</div>
		</td>
	</tr>
</table>
