@inherits WebVer1.Models.CustomInjectDemo
@{
    var pr1 = chiNhanhService.DanhSachChiNhanh();
    foreach (var item in pr1)
    {
        if (item.branchName != "Kho")
        {
            <li>
                <p><i class="fa fa-location-arrow"></i>@item.branchName</p>
                <span><i class="fa fa-home"></i>@item.address</span>
                <span><i class="fa fa-phone"></i>@item.contactNumber</span>
            </li>
        }

    }
}
