@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
    @{ 

        var url = Umbraco.Content(2129).Url;
        var t = 1;
    }
@*<script type="text/javascript">
    $(document).ready(function () {
        $('.btnSearch').keydown(function (event) {
            if (event.keyCode == 13) {

                this.form.submit();
                return false;
            }
        });
    });
</script>*@
@*@using (Html.BeginUmbracoForm("Submit", "CartSurface", null, new { @class = "search-form" }))
    {
        @Html.LabelFor(m => m.Query, "What do you want to search?", new { @class = "focus" })
        @Html.TextBoxFor(m => m.Query)
        <button type="submit">Submit</button>
    }*@
<form action="@Umbraco.Content(2129).Url" method="post" target="_blank">
<input id="search" style="width:85%" type="text" autocomplete="off" name="search" class="search_query" placeholder="Từ khóa tìm kiếm..." value="" runat="server" />
<button id="btnSearch" class="btnSearch" runat="server" hidefocus="true" style="border: 0 none;    background-color: rgba(255, 255, 255, 0)" onserverclick="btnSearch_Click" type="button"><i class="fa fa-search fa-lg"></i></button>
</form>