@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var pr = Umbraco.Content(Model.Content.Parent.Id).Children.Take(8);//.Descendants("chitiettintuc").OrderBy("UpdateDate desc").Take(8);
    foreach (var cur in pr)
    {
        if (Model.Content.Id != cur.Id)
        {

            <li>
                <a href="@cur.Url" title="@cur.Name">
                    <span>@cur.Name</span>
                </a>
            </li>
        }
    }
}