@using FergusonMoriyama.DocCart.Helper;
          
@{ 
  var helper = ServiceHelper.Instance.CartService;
  var itemsInBasket = helper.GetCartItemCount(); 
}
          
<span class="cartCount">
  @if(itemsInBasket == 0) {
    <text>Your cart is empty.</text>
  } else if(itemsInBasket ==1) {
    <text>There is 1 item in your cart.</text>
  } else {
    <text>There are @itemsInBasket items in your cart.</text>
  }
</span>