<script type="text/javascript">
  <!--
  $().ready(function() {
    $('#updateCountButton').click(function() {
      $.get('/Base/DocCart/CartCount', function(data) {
        $('.cartCount').html('Ajax says there are ' + data + ' item(s) in your cart');                                                       
      });                                                    
    });                
  });
  // -->
</script>
<span class="cartCount">
  Click the button to update the cart counter.
</span>
<input type="button" value="Update" id="updateCountButton"/>