
<script type="text/javascript">
  <!--
  $().ready(function() {
    $('#addToCartButton').click(function() {
      $.get('/Base/DocCart/AddToCart/@Model.Id', function(data) {
        $('.addCartInfo').html('Ajax says there are ' + data + ' item(s) in your cart after adding.');
        $('.cartCount').html('Ajax says there are ' + data + ' item(s) in your cart');                                                              
      });                                                    
    });                
  });
  // -->
</script>
<span class="addCartInfo">
  Click the button to Add this item to the cart
</span>
<input type="button" value="Add to Cart" id="addToCartButton"/>