@inherits Umbraco.Web.Mvc.UmbracoTemplatePage



<input id="search" style="width: 85%" type="text" autocomplete="off" name="search" class="search_query" placeholder="Từ khóa tìm kiếm..." value="" runat="server" />
<button id="btnSearch" class="btnSearch" runat="server" hidefocus="true" style="border: 0 none; background-color: rgba(255, 255, 255, 0)" onserverclick="btnSearch_Click"><i class="fa fa-search fa-lg"></i></button>

<table id="TableCont" class="tabl-search-home" ></table>


<script>
    $(document).ready(function () {

        $('.btnSearch').keydown(function (event) {
            if (event.keyCode == 13) {
                this.form.submit();
                return false;
            }
        });




        $.makeTable = function (mydata) {
            var table = $('<table id="dynamictb" style="z-index: 9999;font-size: 13px;width: 100%;">');
            //<thead><tr><th>sản phẩm</th><th>tình trạng</th><th>danh mục</th></tr></thead>



            $.each(mydata, function (index, value) {
                var TableRow = '<tr style="border-bottom: 1px solid #dedede;">';
                $.each(value, function (key, val) {
                    TableRow += "<td style='width:auto;padding: 5px'>" + val + "</td>";
                });
                TableRow += "</tr>";
                $(table).append(TableRow);
            });
            return ($(table));
        };
        $(document).on("click", "#dynamictb tr", function () {
            var $name = $(this).children(":first").text();
            $('#ctrlSearch_3_search').val($name);
            $('#ctrlSearch_3_btnSearch').click();
            $("#dynamictb").remove();
        });
        $("#ctrlSearch_3_search").keyup(function () {
            $.ajax({
                type: "GET",
                url: "/umbraco/surface/CartsSurface/SearchProduct",
                contentType: "application/json",
                dataType: "json",
                data: { "pk": "'" + $(this).val() + "'" },
                beforeSend: function () {
                    $("#search-box").css("background", "#FFF url(LoaderIcon.gif) no-repeat 165px");
                },
                success: function (resp) {
                    $("#dynamictb").remove();
                    var res = JSON.parse(resp.d);
                    var mydata = eval(res);
                    var table = $.makeTable(mydata);
                    $(table).appendTo("#TableCont");
                    $("#search-box").css("background", "#FFF url() no-repeat 165px");
                }
            });
        });
    });

    function selectCountry(val) {
        $("#search-box").val(val);
        $("#suggesstion-box").hide();
    }
</script>