.m-layout-table {
    width: 100%;
    height: 100%;
    background-color: #FFF;
}
footer,
#topheader,
.top-menu {
    display: none;
}
.m-layout-table iframe {
    height: 100%;
    min-height:1000px;
}
    .m-layout-table > tbody > tr > td {
        vertical-align: top;
    }
        .m-layout-table > tbody > tr > td:first-child {
            min-width: 70%;
        }
.m-cashier-table {
    width: 100%;
}
.m-cashier-table th {
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.JColResizer > tbody > tr > td,
.JColResizer > tbody > tr > th {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.m-cashier-table td {
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    text-align: left;
}
.m-cashier-table td.td-center {
    text-align:center;
}
.m-cashier-table tr.tr-active {
    background-color:green;
    color:#FFF;
    /*cursor:default;
    pointer-events:none;*/
}
.m-cashier-table tr:hover {
    background-color: #FFED00;
    color:#333;
    cursor:pointer;
}
.m-checkbox {
    color: #333;
    display:inline-block;
    height:25px;
    position:relative;
    width:25px;
}
.m-checkbox input {
    opacity: 0;
    position: relative;
    z-index: 1;
}

.m-checkbox label {
    align-items: center;
    border:1px solid rgba(0,0,0,0.5);
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

    .m-checkbox input:checked + label::after {
        content: "✓";
    }
.m-checkbox--width-txt {
    display:inline-block;
    margin-bottom:10px;
    width:calc(100% / 4.5);
}
    .m-checkbox--width-txt input {
        height: 25px;
        position: relative;
        width: 25px;
    }
        .m-checkbox--width-txt input:after {
            align-items: center;
            background-color:#FFF;
            border: 1px solid rgba(0,0,0,0.5);
            content:'';
            cursor: pointer;
            display: flex;
            height: 100%;
            justify-content: center;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        .m-checkbox--width-txt input:checked:after {
            content: "✓";
        }
.m-checkbox--width-txt label {
    cursor:pointer;
}
.m-cashier-toolbar {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-bottom:10px;
}
.m-cashier-toolbar > section {
    width:100% ;
}
    .m-cashier-toolbar > section h4 {
        margin-bottom:10px;
        font-weight:bold;
        text-transform:uppercase;
    }
    .m-cashier-toolbar > section select {
        height:42px;
        min-width:200px;
    }
    .m-cashier-toolbar > section button {
        background-color: #FFED00;
        border:1px solid rgba(0,0,0,0.1);
        height:42px;
        margin:0;
        min-width: 100px;
        padding:0;
        outline:0;
    }
        .m-cashier-toolbar > section button:hover {
            background-color: green;
            color:#FFF;
        }